<config><class id="root"><parentId>NULL</parentId><rate type="int">10000</rate><ceil type="int">10000</ceil><burst type="int">1600</burst><cburst type="int">1600</cburst><level type="int">1</level><quantum type="int">1600</quantum><mbuffer type="int">60</mbuffer></class><class id="leafOne"><parentId>root</parentId><rate type="int">4000</rate><ceil type="int">7000</ceil><burst type="int">1600</burst><cburst type="int">1600</cburst><level type="int">0</level><quantum type="int">1600</quantum><mbuffer type="int">60</mbuffer><priority>0</priority><queueNum type="int">0</queueNum></class><class id="leafTwo"><parentId>root</parentId><rate type="int">2000</rate><ceil type="int">5000</ceil><burst type="int">1600</burst><cburst type="int">1600</cburst><level type="int">0</level><quantum type="int">1600</quantum><mbuffer type="int">60</mbuffer><priority>0</priority><queueNum type="int">1</queueNum></class></config>